<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="document-text-outline"></ion-icon>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

    <div id="alarm">
      <p> History is Already Cleared</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

    <ion-button color='dark'sqaure="round"(click)="print()" [routerLink]="['/homepage']">Back</ion-button>
  
  </div> 
</ion-content>
