<ion-header>
  <ion-toolbar>
    <ion-title>Coordinates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <br>
    <br>
    <br>
    <br>
    
    <ion-card class="ion-text-center" color ='secondary' style="padding-top:15px; font-size: 20px;">Target Location: Lobo</ion-card>
    
    <ion-card class="ion-text-center" color ='danger' style="padding-top:15px; font-size: 20px;">Longitude: 121.234581</ion-card> 
    <ion-card class="ion-text-center" color ='danger' style="padding-top:15px; font-size: 20px;">Latitude: 13.664899</ion-card> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <ion-button color='dark'sqaure="round"(click)="print()" [routerLink]="['/homepage']">Back</ion-button>
      </div> 
</ion-content>
