<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="document-text-outline"></ion-icon>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
<br>
<br>
<ion-card color="none">Batangas city To Lipa city. Time Reached 08:20am </ion-card>
<br>
<br>
<ion-card color="none">Manila To Bataan. Time Reached 12:20pm </ion-card>
<br>
<br>
<ion-card color="none">Malvar to chocolate hills Bohol. Time Reached 4:50am </ion-card>
<br>
<br>
<ion-card color="none">Bacoor Cavite to Puerto Prinsesa Subterranean. Time Reached 10:45am </ion-card>
<br>
<br>
<ion-card color="none">Lemery to San nicolas. Time Reached 03:00pm </ion-card>
<br>
<br>
<ion-card color="none">Ibaan To Rosario. Time Reached 09:13am </ion-card>
<br>

<ion-button color='dark' expand='block'(click)="print()" [routerLink]="['/clear-history']" >Clear History</ion-button>




  
  </div> 
</ion-content>
