<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="alarm-outline"></ion-icon>
      Set Location Alarm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
<br>
<br>
<br>
<br>

<img src="https://1.bp.blogspot.com/-QIHgmhphbwE/YGVbfQWADII/AAAAAAAAxi8/udjnH4WcwOoiZmXxlLeUPbx4qEcRkj91ACLcBGAsYHQ/s1600/lipa.jpg">

<ion-card class="ion-text-center" color ='secondary' style="padding-top:15px; font-size: 20px;">Current Location: Batangas City</ion-card>

<ion-card class="ion-text-center" color ='danger' style="padding-top:15px; font-size: 20px;">Target Destination: Lipa City To Lobo</ion-card> 
<br>

<ion-button color='dark'sqaure="round"(click)="print()" [routerLink]="['/homepage']">Back</ion-button>
  </div> 
</ion-content>